<template>
  <div>
    <section class="section-shaped my-0">
      <div class="shape shape-style-1 bg-gradient-default">
        <span />
        <span />
        <span />
        <span />
        <span />
        <span />
        <span />
        <span />
      </div>
      <div class="container shape-container" style="padding-top: 20vh; padding-bottom: 20vh">
        <div class="row mt-3">
          <div class="col-md-3">
            <card :title="$t('settings')" class="settings-card">
              <ul class="nav flex-column nav-pills">
                <li v-for="tab in tabs" :key="tab.route" class="nav-item my-2">
                  <router-link :to="{ name: tab.route }" class="nav-link" active-class="active">
                    <fa :icon="tab.icon" fixed-width />
                    {{ tab.name }}
                  </router-link>
                </li>
              </ul>
            </card>
          </div>

          <div class="col-md-9">
            <transition name="fade" mode="out-in">
              <router-view />
            </transition>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  layout: 'AppHeader',
  computed: {
    tabs () {
      return [
        {
          icon: 'user',
          name: 'Perfil',
          route: 'settings.profile'
        },
        {
          icon: 'lock',
          name: 'Contraseña',
          route: 'settings.password'
        }
      ]
    }
  }
}
</script>

<style>
.settings-card .card-body {
  padding: 0;
}
</style>
