<template>
  <div class="section">
    <el-row justify="center">
      <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
        <el-container>
          <el-main>
            <el-menu :default-openeds="['1']">
              <el-submenu index="1">
                <template slot="title">
                  <i class="el-icon-picture" />
                  <span slot="title">Cursos</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.users' }">
                    Ver usuarios
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
              <el-submenu index="2">
                <template slot="title">
                  <i class="el-icon-sold-out" />
                  <span slot="title">Checkout</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
              <el-submenu index="3">
                <template slot="title">
                  <i class="el-icon-phone" />
                  <span slot="title">Usuarios</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
            </el-menu>
          </el-main>
        </el-container>
      </el-col>
      <el-col :xs="24" :sm="24" :md="18" :lg="18" :xl="18">
        <el-container>
          <el-main>
            <el-form :model="curso" label-width="120px">
              <el-form-item label="Modificar Curso" />
              <el-form-item label="Curso:">
                <el-select v-model="value" placeholder="Curso por nombre" @change="fillParameters">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  />
                </el-select>
              </el-form-item>
              <el-form-item label="Uuid">
                <el-input v-model="curso.uuid" type="text" disabled />
              </el-form-item>
              <el-form-item label="Nombre">
                <el-input v-model="curso.nombre" type="text" disabled />
              </el-form-item>
              <el-form-item label="Descripción">
                <el-input v-model="curso.descripcion" type="text" disabled />
              </el-form-item>
              <el-form-item label="Precio">
                <el-input v-model="curso.precio" disabled />
              </el-form-item>
              <el-form-item label="Link">
                <el-input v-model="curso.link" disabled />
              </el-form-item>
              <el-form-item>
                <el-button type="danger" @click="submitForm()">
                  Borrar
                </el-button>
              </el-form-item>
            </el-form>
          </el-main>
        </el-container>
      </el-col>
    </el-row>
  </div>
</template>
<script>
export default {
  middleware: ['admin'],

  data () {
    return {
      curso: {
        uuid: '',
        nombre: '',
        descripcion: '',
        precio: '',
        link: ''
      },
      options: [],
      value: '',
      cursotemporal: ''
    }
  },
  mounted () {
    this.getCursos()
  },
  methods: {
    getCursos () {
      this.$axios.get('https://emprendedoresconproposito.online/api/Cursos/fetch/list').then((response) => {
        if (response.data.success) {
          const data = response.data.data
          if (data != null) {
            this.options = data
          }
        } else {
          this.$toastr.e(response.data.message)
        }
      })
    },
    fillParameters () {
      this.$axios.post('https://emprendedoresconproposito.online/api/Cursos/find/one', {
        'Uuid': this.value
      }).then((response) => {
        if (response.data.success) {
          const data = response.data.data
          this.curso.uuid = data.Uuid
          this.curso.nombre = data.Nmbentcrs
          this.curso.descripcion = data.Dscentcrs
          this.curso.precio = data.Prcentcrs
          this.curso.link = data.Lnkentcrs
        } else {
          this.$toastr.e(response.data.message)
        }
      })
    },
    submitForm () {
      this.$axios.post('https://emprendedoresconproposito.online/api/Cursos/remove', {
        Uuid: this.curso.uuid
      }).then((response) => {
        if (response.data.success) {
          this.getCursos()
          this.$toastr.s(response.data.message)
          this.value = ''
          this.curso.uuid = ''
          this.curso.nombre = ''
          this.curso.descripcion = ''
          this.curso.precio = ''
          this.curso.link = ''
        } else {
          this.$toastr.e(response.data.message)
        }
      })
    }
  }
}
</script>
