<template>
  <div class="section">
    <el-row justify="center">
      <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
        <el-container>
          <el-main>
            <el-menu :default-openeds="['1']">
              <el-submenu index="1">
                <template slot="title">
                  <i class="el-icon-picture" />
                  <span slot="title">Cursos</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.users' }">
                    Ver usuarios
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
              <el-submenu index="2">
                <template slot="title">
                  <i class="el-icon-sold-out" />
                  <span slot="title">Checkout</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
              <el-submenu index="3">
                <template slot="title">
                  <i class="el-icon-phone" />
                  <span slot="title">Usuarios</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
            </el-menu>
          </el-main>
        </el-container>
      </el-col>
      <el-col :xs="24" :sm="24" :md="18" :lg="18" :xl="18">
        <el-container>
          <el-main>
            <el-form :model="curso" label-width="120px">
              <el-form-item label="Crear Curso" />
              <el-form-item label="Nombre">
                <el-input v-model="curso.nombre" type="text" />
              </el-form-item>
              <el-form-item label="Descripción">
                <el-input v-model="curso.descripcion" type="text" />
              </el-form-item>
              <el-form-item label="Precio">
                <el-input v-model="curso.precio" />
              </el-form-item>
              <el-form-item label="Link">
                <el-input v-model="curso.link" />
              </el-form-item>
              <el-form-item>Este video es el mas importante, se vera publicamente y sera la portada de cada curso, es obligatorio subirlo junto con su descripción, aqui no importa el nombre del archivo, se va a renombrar a 00.- Presentación para su facil reconocimiento</el-form-item>
              <el-form-item label="Presentación">
                <b-form-file
                  v-model="curso.presentacion"
                  :state="Boolean(curso.presentacion)"
                  placeholder="Selecciona o arrastra un video"
                  drop-placeholder="Arrastralo aqui..."
                  accept="video/mp4"
                />
              </el-form-item>
              <div>
                <el-form-item :label="'Descripcion de presentación'">
                  <el-input v-model="curso.presentaciondesc" type="textarea" />
                </el-form-item>
              </div>
              <el-form-item>
                Es importante que el nombre de los videos porque represetanran el orden de los videos en el curso, usa un formato de "01.-_titulo_del_video" "02.-_titulo_del_video" "10.-_titulo_del_video" Por favor.
                Rellena las descripciones de cada video, largo y explicativo para cada video
              </el-form-item>
              <el-form-item label="Videos">
                <b-form-file
                  v-model="curso.videos"
                  :state="Boolean(curso.videos)"
                  placeholder="Selecciona o arrastra los videos"
                  drop-placeholder="Arrastralos aqui..."
                  multiple
                  accept="video/mp4"
                />
              </el-form-item>
              <div v-for="(video, i) in curso.videos" :key="i">
                <el-form-item :label="'Descripcion ' + video.name ">
                  <el-input v-model="curso.videosdesc[i]" type="textarea" />
                </el-form-item>
              </div>
              <el-form-item>
                <el-button type="primary" @click="submitForm()">
                  Crear
                </el-button>
              </el-form-item>
            </el-form>
          </el-main>
        </el-container>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import { BFormFile } from 'bootstrap-vue'

export default {
  middleware: ['admin'],
  components: {
    BFormFile
  },
  data () {
    return {
      curso: {
        nombre: '',
        descripcion: '',
        precio: '',
        link: '',
        presentacion: null,
        videos: [],
        presentaciondesc: '',
        videosdesc: [],
        videoscont: 0
      },
      componentKey: 0
    }
  },
  methods: {
    submitForm () {
      this.$toastr.w('Este proceso tardara dependiendo de la cantidad de videos subidos, espera un momento')

      const formData = new FormData()

      const videos = this.curso.videos
      const descripciones = this.curso.videosdesc

      formData.append('Nombre', this.curso.nombre)
      formData.append('Descripcion', this.curso.descripcion)
      formData.append('Precio', this.curso.precio)
      formData.append('Link', this.curso.link)
      formData.append('VideoPresentacion', this.curso.presentacion)
      formData.append('DescripcionPresentacion', this.curso.presentaciondesc)
      formData.append('CantidadVideos', videos.length)

      for (let i = 0; i < videos.length; i++) {
        formData.append('video' + i, videos[i])
      }

      for (let i = 0; i < videos.length; i++) {
        formData.append('descripcion' + i, descripciones[i])
      }

      this.$axios.post('https://emprendedoresconproposito.online/api/Cursos/submit', formData,
        {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }).then((response) => {
        if (response.data.success) {
          this.$toastr.s(response.data.message)
          this.curso.nombre = ''
          this.curso.descripcion = ''
          this.curso.precio = ''
          this.curso.presentacion = ''
          this.curso.presentaciondesc = ''
          this.curso.videos = []
          this.curso.videosdesc = []
        } else {
          this.$toastr.e(response.data.message)
        }
      })
    }
  }
}
</script>
