<template>
  <div class="section">
    <el-row justify="center">
      <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
        <el-container>
          <el-main>
            <el-menu :default-openeds="['1']">
              <el-submenu index="1">
                <template slot="title">
                  <i class="el-icon-picture" />
                  <span slot="title">Cursos</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.users' }">
                    Ver usuarios
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
              <el-submenu index="2">
                <template slot="title">
                  <i class="el-icon-sold-out" />
                  <span slot="title">Checkout</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
              <el-submenu index="3">
                <template slot="title">
                  <i class="el-icon-phone" />
                  <span slot="title">Usuarios</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
            </el-menu>
          </el-main>
        </el-container>
      </el-col>
      <el-col :xs="24" :sm="24" :md="18" :lg="18" :xl="18">
        <el-table
          :data="tableData3"
          height="400"
          style="width: 100%"
        >
          <el-table-column
            prop="Idnentcrs"
            label="Id"
            width="40"
          />
          <el-table-column
            prop="Uuid"
            label="Uuid"
            width="60"
          />
          <el-table-column
            prop="Nmbentcrs"
            label="Nombre"
          />
          <el-table-column
            prop="Dscentcrs"
            label="Descripción"
          />
          <el-table-column
            prop="Prcentcrs"
            label="Precio"
          />
          <el-table-column
            prop="Lnkentcrs"
            label="Webinar"
          />
          <el-table-column
            prop="CreatedAt"
            label="Creado"
          />
          <el-table-column
            prop="UpdatedAt"
            label="Modificado"
          />
        </el-table>
      </el-col>
    </el-row>
  </div>
</template>
<script>
export default {
  middleware: ['admin'],

  data () {
    return {
      tableData3: []
    }
  },
  mounted () {
    this.getCursos()
  },
  methods: {
    getCursos () {
      this.$axios.get('https://emprendedoresconproposito.online/api/Cursos/fetch').then((response) => {
        if (response.data.success) {
          const data = response.data.data
          if (data != null) {
            this.tableData3 = data
          }
        } else {
          this.$toastr.e(response.data.message)
        }
      })
    }
  }
}
</script>
