<template>
  <div class="section">
    <el-row justify="center">
      <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
        <el-container>
          <el-main>
            <el-menu :default-openeds="['1']">
              <el-submenu index="1">
                <template slot="title">
                  <i class="el-icon-picture" />
                  <span slot="title">Cursos</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.users' }">
                    Ver usuarios
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
              <el-submenu index="2">
                <template slot="title">
                  <i class="el-icon-sold-out" />
                  <span slot="title">Checkout</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
              <el-submenu index="3">
                <template slot="title">
                  <i class="el-icon-phone" />
                  <span slot="title">Usuarios</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
            </el-menu>
          </el-main>
        </el-container>
      </el-col>
      <el-col :xs="24" :sm="24" :md="18" :lg="18" :xl="18">
        <el-container>
          <el-main>
            <el-form label-width="120px">
              <el-form-item label="Buscar usuarios en curso" />
              <el-form-item label="Curso:">
                <el-select v-model="curso" placeholder="Curso por nombre">
                  <el-option
                    v-for="item in cursos"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  />
                </el-select>
              </el-form-item>
              <div :key="componentKey">
                <div v-for="(usuario, i) in usuarios" :key="i">
                  <el-form-item :label=" 'Usuario ' + i">
                    [Nombre]: {{ usuario.name }}  [Email]: {{ usuario.email }}
                  </el-form-item>
                </div>
              </div>
              <el-form-item>
                <el-button type="primary" @click="getUsuarios()">
                  Buscar
                </el-button>
              </el-form-item>
            </el-form>
          </el-main>
        </el-container>
      </el-col>
    </el-row>
  </div>
</template>
<script>
export default {
  middleware: ['admin'],

  data () {
    return {
      usuarios: [],
      cursos: [],
      curso: '',
      componentKey: 0
    }
  },
  mounted () {
    this.getCursos()
  },
  methods: {
    getCursos () {
      this.$axios.get('https://emprendedoresconproposito.online/api/Cursos/fetch/list').then((response) => {
        if (response.data.success) {
          const data = response.data.data
          if (data != null) {
            this.cursos = data
          }
        } else {
          this.$toastr.e(response.data.message)
        }
      })
    },
    getUsuarios () {
      this.$axios.post('https://emprendedoresconproposito.online/api/Cursos/find/users', {
        Uuid: this.curso
      }).then((response) => {
        if (response.data.success) {
          const data = response.data.data
          if (data != null) {
            this.usuarios = data
            this.componentKey += 1
          }
        } else {
          this.$toastr.e(response.data.message)
        }
      })
    }
  }
}
</script>
