<template>
  <section class="section section-shaped section-lg my-0">
    <div class="shape shape-style-1 bg-gradient-default">
      <span />
      <span />
      <span />
      <span />
      <span />
      <span />
      <span />
      <span />
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <card type="secondary" shadow
                header-classes="bg-white pb-5"
                body-classes="px-lg-5 py-lg-5"
                class="border-0"
          >
            <template>
              <div class="text-center mb-4">
                <h3>
                  Webinar Gratuito
                </h3>
              </div>
              <div class="text-center text-muted mb-4">
                <small>Acceso al Webinar Gratuito por tiempo limitado, Aquí podras elegir el horario para curso gratuito, al darle aceptar, te enviaremos detalles para ingresar a tu curso</small>
              </div>
              <div>
                <div class="text-center my-2 mx-2">
                  <div v-if="!authenticated">
                    <h6>
                      Nombre completo:
                    </h6>
                    <b-form-input v-model="name"
                                  class="mb-3"
                    ></b-form-input>
                    <h6>
                      Correo:
                    </h6>
                    <b-form-input v-model="email"
                                  class="mb-3"
                    ></b-form-input>
                  </div>
                  <h6>
                    Dia:
                  </h6>
                  <datetime v-model="dia"
                            :min-datetime="minTimeStamp"
                            format="yyyy-MM-dd"
                            auto
                            input-class="custom-select"
                            class="mb-3"
                            value-zone="local" zone="local"
                            @close="validateHours"
                  />
                  <div class="row">
                    <div class="col-6">
                      <h6>
                        Hora:
                      </h6>
                      <b-form-select
                        v-model="hora"
                        :options="horas"
                        class="mb-3"
                        value-field="item"
                        text-field="name"
                        disabled-field="notEnabled"
                        @change="validateMinutes"
                      ></b-form-select>
                    </div>
                    <div class="col-6">
                      <h6>
                        Minuto:
                      </h6>
                      <b-form-select
                        v-model="minuto"
                        :options="minutos"
                        class="mb-3"
                        value-field="item"
                        text-field="name"
                        disabled-field="notEnabled"
                      ></b-form-select>
                    </div>
                  </div>
                </div>
                <div class="text-center" @click="submitForm">
                  <v-button>
                    <span>Aceptar</span>
                  </v-button>
                </div>
              </div>
            </template>
          </card>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { Datetime } from 'vue-datetime'
import { BFormSelect, BFormInput } from 'bootstrap-vue'
import { mapGetters } from 'vuex'
import 'vue-datetime/dist/vue-datetime.css'

export default {
  layout: 'AppHeader',
  name: 'Form',
  components: {
    datetime: Datetime,
    BFormSelect,
    BFormInput
  },
  data () {
    return {
      horario: '',
      minTimeStamp: new Date().toISOString(),
      dia: '',
      hora: '',
      minuto: '',
      email: '',
      name: '',
      componentKeyHours: 0,
      componentKeyMinutes: 1,
      horas: [
        { item: '00', name: '00' },
        { item: '01', name: '01' },
        { item: '02', name: '02' },
        { item: '03', name: '03' },
        { item: '04', name: '04' },
        { item: '05', name: '05' },
        { item: '06', name: '06' },
        { item: '07', name: '07' },
        { item: '08', name: '08' },
        { item: '09', name: '09' },
        { item: '10', name: '10' },
        { item: '11', name: '11' },
        { item: '12', name: '12' },
        { item: '13', name: '13' },
        { item: '14', name: '14' },
        { item: '15', name: '15' },
        { item: '16', name: '16' },
        { item: '17', name: '17' },
        { item: '18', name: '18' },
        { item: '19', name: '19' },
        { item: '20', name: '20' },
        { item: '21', name: '21' },
        { item: '22', name: '22' },
        { item: '23', name: '23' }
      ],
      minutos: [
        { item: '00', name: '00' },
        { item: '15', name: '15' },
        { item: '30', name: '30' },
        { item: '45', name: '45' },
      ]
    }
  },
  computed: mapGetters({
    authenticated: 'auth/check'
  }),
  beforeMount () {
    this.findCurso()
    this.validateHours()
    this.validateMinutes()
  },

  methods: {
    findCurso () {
      const curso = this.$route.params.uuid

      this.$axios.post('https://emprendedoresconproposito.online/api/Cursos/find/one', {
        Uuid: curso
      }).then((response) => {
        if (!response.data.success) {
          this.$toastr.e(response.data.message)
          this.$router.push({ name: 'welcome' })
        }
      })
    },
    validateHours () {
      let d = new Date();

      const today = d.toLocaleDateString().slice(0, 2)

      this.horas = []

      if (this.dia == '' || this.dia.slice(8, 10) == today) {

        const remain = 24 - d.toLocaleTimeString().slice(0, 2)

        let res = []

        for (let i = 0; i < remain; i++) {
          const hour = 23 - i
          const finalhour = ("0" + hour).slice(-2)

          res.push({ item: finalhour, name: finalhour })
        }

        this.horas = res
      } else {
        this.horas = [
          { item: '00', name: '00' },
          { item: '01', name: '01' },
          { item: '02', name: '02' },
          { item: '03', name: '03' },
          { item: '04', name: '04' },
          { item: '05', name: '05' },
          { item: '06', name: '06' },
          { item: '07', name: '07' },
          { item: '08', name: '08' },
          { item: '09', name: '09' },
          { item: '10', name: '10' },
          { item: '11', name: '11' },
          { item: '12', name: '12' },
          { item: '13', name: '13' },
          { item: '14', name: '14' },
          { item: '15', name: '15' },
          { item: '16', name: '16' },
          { item: '17', name: '17' },
          { item: '18', name: '18' },
          { item: '19', name: '19' },
          { item: '20', name: '20' },
          { item: '21', name: '21' },
          { item: '22', name: '22' },
          { item: '23', name: '23' }
        ]
      }
    },
    validateMinutes () {
      let d = new Date();

      const today = d.toLocaleDateString().slice(0, 2)

      this.minutos = []

      if (this.dia == '' || this.dia.slice(8, 10) == today) {

        const now = d.toLocaleTimeString().slice(0, 2)

        if (this.hora == '' || this.hora == now) {
          const remain = 4 - Math.ceil(d.toLocaleTimeString().slice(3, 5) / 15)

          if (remain == 4) {
            this.minutos = [
              { item: '00', name: '00' },
              { item: '15', name: '15' },
              { item: '30', name: '30' },
              { item: '45', name: '45' },
            ]
          } if (remain == 3) {
            this.minutos = [
              { item: '15', name: '15' },
              { item: '30', name: '30' },
              { item: '45', name: '45' },
            ]
          } if (remain == 2) {
            this.minutos = [
              { item: '30', name: '30' },
              { item: '45', name: '45' },
            ]
          } if (remain == 1) {
            this.minutos = [
              { item: '45', name: '45' },
            ]
          }
        } else {
          this.minutos = [
            { item: '00', name: '00' },
            { item: '15', name: '15' },
            { item: '30', name: '30' },
            { item: '45', name: '45' },
          ]
        }
      } else {
        this.minutos = [
          { item: '00', name: '00' },
          { item: '15', name: '15' },
          { item: '30', name: '30' },
          { item: '45', name: '45' },
        ]
      }
    },
    submitForm () {
      let dia = this.dia
      const hora = this.hora
      const minuto = this.minuto

      if (dia == null || dia == '') {
        return this.$toastr.e('Escoja un dia')
      } if (hora == null || hora == '') {
        return this.$toastr.e('Escoja una hora')
      } if (minuto == null || minuto == '') {
        return this.$toastr.e('Escoja un minuto')
      }


      dia = dia.slice(0, 11).replace('T', ' ')

      let horario = dia + hora + ':' + minuto + ':00'

      let t = horario.split(/[- :]/)
      horario = new Date(t[0], t[1] - 1, t[2], t[3], t[4], t[5])

      horario = horario.toISOString().slice(0, 19).replace('T', ' ')

      const curso = this.$route.params.uuid
      const video = this.$route.params.video
      let user = null
      let email = null
      let name = null

      if (this.authenticated) {
        user = this.$store.getters['auth/user'].uuid
        email = this.$store.getters['auth/user'].email
        name = this.$store.getters['auth/user'].name
      } else {
        email = this.email
        name = this.name
      }

      this.$axios.post('https://emprendedoresconproposito.online/api/Pruebas/submit', {
        UuidUsuario: user,
        UuidCurso: curso,
        Email: email,
        Name: name,
        Horario: horario,
        Video: video
      }).then((response) => {
        if (response.data.success) {
          this.$toastr.s(response.data.message)
          this.$router.push({ name: 'welcome' })
        } else {
          this.$toastr.e(response.data.message)
        }
      })
    }
  }
}
</script>
