<template>
  <div>
    <div class="position-relative">
      <section class="section-shaped my-0">
        <div class="shape shape-style-1 shape-default shape-skew">
          <span />
          <span />
          <span />
          <span />
          <span />
          <span />
          <span />
          <span />
          <span />
        </div>
        <div class="container-layout" style="padding-top: 20vh; padding-right: 5vh; padding-left: 5vh; padding-bottom: 0;">
          <el-row :gutter="20" justify="center">
            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" class="my-3">
              <el-container>
                <el-main style="padding: 0;">
                  <!--  Timer Component  -->
                  <Timer
                    :key="componentKey2"
                    :starttime="this.start"
                    :endtime="this.end"
                    :word-string="{
                      'expired':'El webinar acabo',
                      'running':'Webinar gratuito',
                      'upcoming':'El webinar esta por comenzar'
                    }"
                  />
                  <!--  End! Timer Component  -->
                  <video-player v-show="isPlayable" :key="componentKey" :options="videoOptions" class="vjs-16-9" @click="forceRerender" />
                </el-main>
              </el-container>
            </el-col>
            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" class="my-3">
              <card gradient="info"
                    no-body
                    shadow-size="lg"
                    class="border-0"
              >
                <div class="p-5">
                  <div class="row align-items-center">
                    <div class="col-lg-8">
                      <h3 class="text-white">
                        {{ titulo }}
                      </h3>
                      <p class="lead text-white mt-3">
                        {{ descripcion }}
                      </p>
                    </div>
                    <div class="col-lg-3 ml-lg-auto">
                      <base-button type="white" block size="lg" @click="checkout">
                        Inscribirse
                      </base-button>
                    </div>
                  </div>
                </div>
              </card>
            </el-col>
          </el-row>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import VideoPlayer from '~/components/VideoPlayer.vue'
import Timer from '~/components/Cursos/Vivo/Timer.vue'

export default {
  layout: 'AppHeader',
  components: {
    VideoPlayer,
    Timer
  },
  data () {
    return {
      videoOptions: {
        autoplay: true,
        muted: true,
        controls: true,
        fluid: true,
        type: 'video/mp4',
        sources: null,
        controlBar: {
          muteToggle: true,
          playToggle: false,
          volumeMenuButton: true,
          progressControl: false,
          liveDisplay: false,
          remainingTimeDisplay: false,
          customControlSpacer: false,
          playbackRateMenuButton: false,
          audioTrackButton: false,
          fullscreenToggle: true,
          pictureInPictureToggle: false
        }
      },
      pruebaData: '',
      start: '',
      end: '',
      current: '',
      titulo: '',
      descripcion: '',
      isPlayable: false,
      isPlaying: false,
      estado: 'Visitado',
      visto: undefined,
      diferencia: '',
      componentKey: 0,
      componentKey2: 1,
      video: 0,
      checkoutuuid: 0,
      interval: 0
    }
  },
  beforeMount () {
    this.findVideo()

    window.addEventListener('beforeunload', () => {
      this.updateEstado()
    })
  },
  beforeDestroy() {
    this.updateEstado()
  },
  methods: {
    findVideo () {
      const uuid = this.$route.params.uuid

      this.$axios.post('https://emprendedoresconproposito.online/api/Pruebas/fetch/video', {
        Uuid: uuid
      }).then((response) => {
        if (response.data.success) {
          this.titulo = response.data.titulo
          this.descripcion = response.data.descripcion
          this.lista = response.data.lista
          this.pruebaData = response.data.data
          this.start = response.data.start
          this.end = response.data.end
          this.checkoutuuid = response.data.checkoutuuid

          let t = this.start.split(/[- :]/)
          this.start = new Date(Date.UTC(t[0], t[1] - 1, t[2], t[3], t[4], t[5]))

          t = this.end.split(/[- :]/)

          this.end = new Date(Date.UTC(t[0], t[1] - 1, t[2], t[3], t[4], t[5]))

          const now = new Date()

          if (now < this.start || this.end < now) {
            this.isPlayable = false
          } else {
            this.isPlayable = true

            this.current = ((this.end / 1000) - (this.start / 1000)) - ((this.end / 1000) - (now / 1000))

            this.videoOptions.currenttime = this.current

            this.videoOptions.sources = [{
              src: response.data.url,
              type: 'video/mp4'
            }]
          }

          this.interval = setInterval(() => {
            this.timerCount(this.start, this.end)
          }, 1000)

          if (!this.isPlaying) this.forceRerender()
        } else {
          this.$toastr.e(response.data.message)
        }
      })
    },
    updateEstado () {
      const now = new Date()

      if (now < this.start) {
        this.estado = 'Visto Antes'
        this.visto = undefined
        const seg = (this.start - now)
        this.durante = this.calcTime(seg)
      } else if (this.end < now) {
        this.estado = 'Visto Despues'
        this.visto = true
        const seg = (now - this.end)
        this.durante = this.calcTime(seg)
      } else {
        this.estado = 'Visto Durante'
        this.visto = undefined
        const seg = ((this.end) - (this.start)) - ((this.end ) - (now))
        this.durante = this.calcTime(seg)
      }

      const uuid = this.$route.params.uuid
      const estado = this.estado

      this.$axios.post('https://emprendedoresconproposito.online/api/Pruebas/modify/check', {
        Uuid: uuid,
        Tiempo: this.durante,
        Bandera: this.visto,
        Estado: estado
      })
    },
    timerCount (start, end) {
      const now = new Date().getTime()

      const distance = start - now
      const passTime = end - now

      if (distance < 0 && passTime < 0) {
        this.isPlayable = false
      } else if (distance < 0 && passTime > 0 && !this.playing) {
        this.avisoMute()
        this.isPlayable = true
        this.playing = true
        this.forceRerender()
      } else if (distance > 0 && passTime > 0) {
        this.isPlayable = false
      }

    },
    forceRerender () {
      this.componentKey += 1
      this.componentKey2 += 1
    },
    avisoMute () {
      this.$toastr.s('Haga click en el video para escuchar el audio!')
    },
    checkout () {
      const curso = this.checkoutuuid
      this.$router.push('/curso/' + curso)
    },
    calcTime (seg) {
      return Math.floor(seg / (1000 * 60 * 60 * 24)) + ':' + Math.floor((seg % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) + ':' + Math.floor((seg % (1000 * 60 * 60)) / (1000 * 60)) + ':' + Math.floor((seg % (1000 * 60)) / 1000)
    }
  }
}
</script>
<style>
  .no-padding {
    padding: 0 !important;
  }
</style>
