<template>
  <div>
    <div>
      <section class="section cross-section" :style="{ backgroundImage:'url(/bg1.jpg)' }">
        <div class="container">
          <div class="col px-0 my-5">
            <div class="row align-items-center">
              <div class="col-lg-6 box">
                <h1 class="display-4 text-white">
                  ¿Eres emprendedor?
                  <span><br></span>
                  <span>Bienvenido a tu lugar</span>
                </h1>
                <p class="lead text-white small-text">
                  Todos queremos formar parte de un movimiento
                  en donde puedas hacer tus sueños realidad
                  y convertirte en ese emprendedor que no se conforma con un NO.
                </p>
              </div>
              <!-- <div class="col-lg-4 ">
                <nuxt-link v-if="authenticated" :to="{ name: 'lista' }">
                  <base-button type="white" block size="lg">
                    EMPIEZA AHORA
                  </base-button>
                </nuxt-link>
                <nuxt-link v-else :to="{ name: 'register' }">
                  <base-button type="white" block size="lg">
                    EMPIEZA AHORA
                  </base-button>
                </nuxt-link>
              </div> -->
            </div>
          </div>
        </div>
      </section>
    </div>
    <div>
      <section v-lazy:backgroundImage="'/bg2.jpg'" class="section cross-section">
        <div class="container shape-container d-flex">
          <div class="col px-0 my-5 ">
            <div class="row m-0">
              <div class="col-lg-6 offset-lg-6 box">
                <h1 class="display-4 text-white">
                  LOS EMPRENDEDORES
                </h1>
                <p class="lead text-white small-text">
                  Somos hacedores
                </p>
                <p class="lead text-white small-text">
                  ¡Tenemos un propósito, un deseo ardiente por trascender agregando valor al mundo, queremos demostrarnos que si se puede!
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div>
      <section v-lazy:backgroundImage="'/bg4.jpg'" class="section cross-section">
        <div class="container shape-container d-flex">
          <div class="col px-0 my-5 ">
            <div class="row m-0">
              <div class="col-lg-6 box">
                <h1 class="display-4 text-white">
                  UN VERDADERO EMPRENDEDOR
                </h1>
                <p class="lead text-white small-text">
                  Se forma a través de la educación constante, porque necesitamos pulir ese diamante en bruto, con las herramientas necesarias para convertir sus sueños en una realidad.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div>
      <section v-lazy:backgroundImage="'/bg3.jpg'" class="section cross-section">
        <div class="container shape-container d-flex">
          <div class="col px-0 my-5 ">
            <div class="row m-0">
              <div class="col-lg-6 offset-lg-6 box">
                <h1 class="display-4 text-white">
                  APRENDEMOS DE MANERA DIGITAL
                </h1>
                <p class="lead text-white small-text">
                  Nos sumamos a la era de la información para obtener la formación que nos transformara en verdaderos hacedores, rompiendo con las barreras del tiempo y el espacio…
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div>
      <section v-lazy:backgroundImage="'/bg5.jpg'" class="section  cross-section">
        <div class="container shape-container">
          <div class="col px-0 my-5 ">
            <div class="row m-0">
              <div class="col-lg-6 box">
                <h1 class="display-4 text-white">
                  AQUÍ SE FORMAN LOS EMPRENDEDORES CON PROPÓSITO
                </h1>
                <p class="lead text-white small-text">
                  Aquí encontraras la información y las herramientas que te harán pasar al siguiente nivel, no importa la etapa en la que estés te darás cuenta cuanto no sabías del emprendimiento
                </p>
                <p class="lead text-white small-text">
                  Esta plataforma está hecha para ti EMPRENDEDOR CON PROPÓSITO que no te conformas y siempre vas por más…
                </p>
                <p class="lead text-white font-italic small-text coute-text">
                  "Invierte en tu mente, porque tu mente llenara tus bolsillos" - Benjamin Franklin.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="section bg-secondary">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-6">
            <div class="card bg-default shadow border-0">
              <img v-lazy="'/Adilene.jpg'" class="card-img-top">
              <blockquote class="card-blockquote">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                     class="svg-bg"
                >
                  <polygon points="0,52 583,95 0,95" class="fill-default" />
                  <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
                </svg>
                <h4 class="display-3 font-weight-bold text-white">
                  TU MENTOR
                </h4>
              </blockquote>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pl-md-5">
              <h3>Adilene Ramos</h3>
              <p class="lead">
                Tiene la profesión de ingeniera en logística y comercio internacional
                Cuenta con una experiencia de más de 6 años en temas de formación en emprendimiento
                Es COACH Empresarial
                Tiene una certificación de generador de procesos de cambio con Programación Neurolingüística (PNL) y es una apasionada del desarrollo humano.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-lg">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-8">
            <img v-lazy="'/brand.png'" class="img-fluid" alt="Emprendedor con proposito">
          </div>
          <div class="col-lg-8">
            <h2 class="display-3">
              AQUÍ ES DONDE PERTENECES EMPRENDEDOR CON PROPÓSITO
            </h2>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-lg pt-0">
      <div class="container">
        <card gradient="coral"
              no-body
              shadow-size="lg"
              class="border-0"
        >
          <div class="p-5">
            <div class="row align-items-center">
              <div class="col-lg-8">
                <h3 class="text-white">
                  Mañana puede ser muy tarde
                </h3>
                <p class="lead text-white mt-3">
                  Aquí te ayudamos a hacer que las cosas sucedan, aquí te formamos como un emprendedor con próposito , aquí te impulsamos y sobre todo te ayudamos a desarrollar la mejor versión de ti mismo que te hará alcanzar todas las metas que te propongas…
                </p>
              </div>
              <div class="col-lg-3 ml-lg-auto">
                <nuxt-link v-if="authenticated" :to="{ name: 'lista' }">
                  <base-button type="white" block size="lg">
                    EMPIEZA AHORA
                  </base-button>
                </nuxt-link>
                <nuxt-link v-else :to="{ name: 'register' }">
                  <base-button type="white" block size="lg">
                    EMPIEZA AHORA
                  </base-button>
                </nuxt-link>
              </div>
            </div>
          </div>
        </card>
      </div>
    </section>
    <section class="section section-lg pt-lg-0 section-contact-us">
      <div class="container">
        <div class="row justify-content-center ">
          <div class="col-lg-8">
            <card gradient="secondary" shadow body-classes="p-lg-5">
              <h4 class="mb-1">
                Contacto
              </h4>
              <p class="mt-0">
                Cualquier, duda, queja, sugerencia es bienvenida
              </p>
              <base-input v-model="name"
                          class="mt-5"
                          alternative
                          placeholder="Nombre completo"
                          addon-left-icon="ni ni-user-run"
              />
              <base-input v-model="email"
                          alternative
                          placeholder="Correo electronico"
                          addon-left-icon="ni ni-email-83"
              />
              <base-input class="mb-4">
                <textarea v-model="content" class="form-control form-control-alternative" name="name"
                          rows="4" cols="80"
                          placeholder="Mensaje..."
                />
              </base-input>
              <base-button type="default" round block size="lg" @click="sendEmail">
                Enviar
              </base-button>
            </card>
          </div>
        </div>

      </div>
    </section>
    <div>
      <b-modal id="my-modal" hide-footer hide-header>
        <a href="https://emprendedoresconproposito.online/curso/pregunta/1/f0faa7a6-cd10-4095-8bfe-8ad7f8add0fb">
          <img class="img-fluid" src="https://emprendedoresconproposito.online/storage/cursos/1b5ca13b-fc26-4051-9eb7-997a7c7b6e86/img/promo.jpeg" alt="Publicidad">
        </a>
      </b-modal>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { BModal, VBModal } from 'bootstrap-vue'

export default {
  layout: 'AppHeader',
  components: {
    'b-modal': BModal
  },
  directives: {
    // Note that Vue automatically prefixes directive names with `v-`
    'b-modal': VBModal
  },
  data () {
    return {
      name: '',
      email: '',
      content: ''
    }
  },
  computed: mapGetters({
    authenticated: 'auth/check'
  }),
  beforeMount () {
    this.$fb.track('ViewContent')

    const tipo = this.$route.params.tipo
    const msj = this.$route.params.mensaje

    if (tipo === 'success') {
      this.$toastr.Add({
        title: 'Mensaje',
        msg: msj,
        timeout: 10000,
        type: 'success'
      })
    } if (tipo === 'info') {
      this.$toastr.Add({
        title: 'Mensaje',
        msg: msj,
        timeout: 10000,
        type: 'info'
      })
    } if (tipo === 'warning') {
      this.$toastr.Add({
        title: 'Mensaje',
        msg: msj,
        timeout: 10000,
        type: 'warning'
      })
    } if (tipo === 'error') {
      this.$toastr.Add({
        title: 'Mensaje',
        msg: msj,
        timeout: 10000,
        type: 'error'
      })
    }

    setTimeout(() => {
      this.showModal()
    }, 8000)
  },
  methods: {
    // createCheckout () {
    //   if (!this.$store.getters['auth/check']) {
    //     this.$toastr.s('Porfavor, registrese o inicie sesión antes de inscribirse a este webinar')
    //     this.$router.push({ name: 'register' })
    //   } else {
    //     const user = this.$store.getters['auth/user']
    //     const curso = '75b36bdf-9336-4a7f-841a-342324d8a69a'
    //     window.location.href = 'http://localhost ' + curso + '/' + user.uuid
    //   }
    // },
    showModal () {
      this.$bvModal.show('my-modal')
    },

    sendEmail () {
      if (this.name === '') {
        this.$toastr.e('Porfavor, Introdusca su nombre')
        return
      } if (this.email === '') {
        this.$toastr.e('Porfavor, Introdusca su correo electronico')
        return
      } if (this.content === '') {
        this.$toastr.e('Porfavor, Introdusca su mensaje')
        return
      }

      this.$axios.post('https://emprendedoresconproposito.online/api/sendEmail', {
        Name: this.name,
        Email: this.email,
        Content: this.content
      }).then((response) => {
        if (response.data.success) {
	        this.$fb.track('ViewContent')
          this.$toastr.s(response.data.message)
          this.name = ''
          this.email = ''
          this.content = ''
        } else {
          this.$toastr.e(response.data.message)
        }
      // eslint-disable-next-line handle-callback-err
      }).catch((err) => {
        this.$toastr.e('Por el momento no contamos con servicio de correos disponible, intente mas tarde')
      })
    }
  }
}
</script>
<style>
  .box {
    background-color: rgba(0, 0, 0, 0.650);
    padding: 5vh !important;
    border-radius: 7px;
  }

  .cross-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }

  .small-text {
    font-size: 18px !important;
  }

  .coute-text {
    color: rgb(255, 146, 57) !important;
  }
</style>
