<template>
  <div>
    <section class="section-shaped my-0">
      <div class="shape shape-style-1 bg-gradient-default">
        <span />
        <span />
        <span />
        <span />
        <span />
        <span />
        <span />
        <span />
      </div>
      <div class="container shape-container" style="padding-top: 20vh; padding-bottom: 20vh">
        <el-row justify="center">
          <el-col v-for="(curso, i) in cursos" :key="i" class="my-3" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <el-card class="box-card" style="width: 100%">
              <el-container>
                <el-header v-if="curso.Prcentcrs == 0" class="text-center font-special">
                  {{ curso.Nmbentcrs }}

                  <badge type="info" class="text-uppercase">GRATIS</badge>
                </el-header>
                <el-header v-else class="text-center font-special">
                  {{ curso.Nmbentcrs }}
                </el-header>
                <el-main class="text-center">
                  <el-row justify="center">
                    <el-col class="hidden-sm-and-down" :span="16">
                      <p class="">
                        {{ curso.Dscentcrs }}
                      </p>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                      <el-button type="info" @click="goToCurso(curso.Uuid)">
                        Mas información
                      </el-button>
                    </el-col>
                  </el-row>
                </el-main>
              </el-container>
            </el-card>
          </el-col>
        </el-row>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Badge from '~/components/Badge.vue'

export default {
  layout: 'AppHeader',
  name: 'Lista',
  components: {
    Badge
  },
  data () {
    return {
      cursos: [],
      items: null
    }
  },
  computed: mapGetters({
    authenticated: 'auth/check'
  }),
  async created () {
    const cursos = await this.$axios.get('https://emprendedoresconproposito.online/api/Cursos/fetch', {
      responseType: 'json'
    })

    this.setCurso(cursos)
  },
  methods: {
    setCurso (response) {
      if (!response.data.success) {
        this.$toastr.e(response.data.message)
        return this.$router.push({ name: 'welcome' })
      }

      this.cursos = response.data.data
    },
    fetchCursos () {
      this.$axios.get('https://emprendedoresconproposito.online/api/Cursos/fetch').then((response) => {
        if (response.data.success) {
          this.cursos = response.data.data
        } else {
          this.$toastr.e(response.data.message)
          this.$router.push({ name: 'welcome' })
        }
      })
    },
    goToCurso (uuid) {
      this.$fb.track('Lead')
      this.$fb.track('ViewContent')
      this.$router.push('/curso/' + uuid)
    }
  }
}
</script>

<style>
  .margin-y {
    margin-top: 2vh !important;
    margin-bottom: 2vh !important;
  }
  .font-special {
    font-size: 24px;
    font-family: Helvetica;
    font-weight: 200;
  }
</style>
