<template>
  <div>
    <section class="section-shaped my-0">
      <div class="shape shape-style-1 bg-gradient-default">
        <span />
        <span />
        <span />
        <span />
        <span />
        <span />
        <span />
        <span />
      </div>
      <div class="container shape-container" style="padding-top: 20vh; padding-bottom: 20vh">
        <el-row justify="center">
          <el-col v-for="(curso, i) in cursos" :key="i" class="my-3" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
            <el-card class="box-card" style="width: 100%">
              <el-container>
                <el-header class="text-center font-special">
                  {{ curso.nmbentcrs }}
                </el-header>
                <el-main class="text-center">
                  <el-row justify="center">
                    <el-col class="hidden-sm-and-down" :span="16">
                      <p class="">
                        {{ curso.dscentcrs }}
                      </p>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
                      <el-button type="success" @click="goToCurso(curso.Uidentcrs)">
                        Ver curso
                      </el-button>
                    </el-col>
                  </el-row>
                </el-main>
              </el-container>
            </el-card>
          </el-col>
        </el-row>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  layout: 'AppHeader',
  name: 'Lista',
  data () {
    return {
      cursos: [],
      items: null
    }
  },
  computed: mapGetters({
    authenticated: 'auth/check'
  }),
  async created () {
    const user = this.$store.getters['auth/user'].uuid

    const cursos = await this.$axios.post('https://emprendedoresconproposito.online/api/fetchCursosUser', {
      Uuid: user
    }, {
      responseType: 'json'
    })

    this.setCursos(cursos)
  },
  methods: {
    setCursos (response) {
      if (!response.data.success) {
        this.$toastr.e(response.data.message)
        return this.$router.push({ name: 'lista' })
      }

      this.cursos = response.data.data
    },
    fetchCursos () {
      const user = this.$store.getters['auth/user'].uuid

      this.$axios.post('https://emprendedoresconproposito.online/api/fetchCursosUser', {
        Uuid: user
      }).then((response) => {
        if (response.data.success) {
          this.cursos = response.data.data
        } else {
          this.$toastr.e(response.data.message)
          this.$router.push({ name: 'lista' })
        }
      })
    },
    goToCurso (curso) {
      this.$router.push('/curso/videos/' + curso)
    }
  }
}
</script>

<style>
  .margin-y {
    margin-top: 2vh !important;
    margin-bottom: 2vh !important;
  }
  .font-special {
    font-size: 24px;
    font-family: Helvetica;
    font-weight: 200;
  }
</style>
