<template>
  <div>
    <section class="section-shaped my-0">
      <div class="shape shape-style-1 bg-gradient-default">
        <span />
        <span />
        <span />
        <span />
        <span />
        <span />
        <span />
        <span />
      </div>
      <div class="container shape-container" style="padding-top: 20vh; padding-bottom: 10vh">
        <div class="row w-100 m-0">
          <div class="col-lg-12">
            <div class="row w-100 m-0">
              <div class="col-12 my-3">
                <video-player v-if="componentKey !== 0" :key="componentKey" :options="videoOptions" class="vjs-16-9" />
              </div>
              <div class="col-12 my-3">
                <el-card class="box-card">
                  <el-container>
                    <el-header v-if="curso.Prcentcrs == 0" class="text-center card-title titulo">
                      {{ curso.Nmbentcrs }}

                      <badge type="info" class="text-uppercase">GRATIS</badge>
                    </el-header>
                    <el-header v-else class="text-center card-title titulo">
                      {{ curso.Nmbentcrs }}
                    </el-header>
                    <el-main class="text-center">
                      {{ curso.Descripcion }}
                    </el-main>
                  </el-container>
                </el-card>
              </div>
              <div class="col-12 my-3">
                <el-button v-if="inscrito" class="w-100" type="success" @click="goToCurso">
                  Ver curso
                </el-button>
                <el-button v-if="curso.Prcentcrs == 0 && !inscrito" class="w-100" type="success" @click="checkout">
                  Registrarse
                </el-button>
                <el-button v-else-if="!inscrito" class="w-100" type="success" @click="checkout">
                  Inscribirme
                </el-button>
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-4">
            <div class="row w-100 m-0">
              <div class="col-12 my-3">
                <el-card class="box-card">
                  <el-container>
                    <el-main class="text-center">
                      {{ curso.Dscentcrs }}
                    </el-main>
                  </el-container>
                </el-card>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import VideoPlayer from '~/components/VideoPlayer.vue'
import Badge from '~/components/Badge.vue'

export default {
  layout: 'AppHeader',
  components: {
    VideoPlayer,
    Badge
  },
  data () {
    return {
      videoOptions: {
        controls: true,
        fluid: true,
        sources: null
      },
      curso: '',
      componentKey: 0,
      inscrito: false
    }
  },
  computed: mapGetters({
    authenticated: 'auth/check'
  }),
  created () {
    this.checkEstado()
    this.findCurso()
  },
  methods: {
    checkout () {
      this.$fb.track('CompleteRegistration')
      if (this.authenticated) {
        const user = this.$store.getters['auth/user'].uuid
        const curso = this.$route.params.uuid

        window.location.href = 'https://emprendedoresconproposito.online/pago/' + curso + '/' + user
      } else {
        this.$toastr.i('Porfavor, registrese o inicie sesión antes de inscribirse a este webinar')
        this.$router.push({ name: 'register' })
      }
    },
    checkEstado () {
      if (this.authenticated) {
        const curso = this.$route.params.uuid
        const user = this.$store.getters['auth/user'].uuid

        this.$axios.post('https://emprendedoresconproposito.online/api/Checkout/fetch/both', {
          UuidUsuario: user,
          UuidCurso: curso
        }).then((response) => {
          if (response.data.success) {
            this.inscrito = true
            this.$toastr.i('Parece que ya estas inscrito a este curso, ¡Disfruta de su contenido!')
          }
        })
      }
    },
    findCurso () {
      const curso = this.$route.params.uuid

      this.$axios.post('https://emprendedoresconproposito.online/api/Cursos/find/one', {
        Uuid: curso
      }).then((response) => {
        if (response.data.success) {
          this.curso = response.data.data

          this.videoOptions.sources = [{
            src: 'https://emprendedoresconproposito.online/storage/cursos/' + curso + '/videos/00.-_presentacion.mp4',
            type: 'video/mp4'
          }]

          this.forceRerenderVideo()
        } else {
          this.$toastr.e(response.data.message)
          this.$router.push({ name: 'welcome' })
        }
      })
    },
    forceRerenderVideo () {
      this.componentKey += 1
    },
    goToCurso () {
      const curso = this.$route.params.uuid
      this.$router.push('/curso/videos/' + curso)
    }
  }
}
</script>

<style>
  .margin-y {
    margin-top: 2vh !important;
    margin-bottom: 2vh !important;
  }
  .titulo {
    font-size: 24px;
    font-family: Helvetica;
    font-weight: 200;
  }
</style>
