<template>
  <div>
    <div class="position-relative">
      <section class="section-shaped my-0">
        <div class="shape shape-style-1 shape-default shape-skew">
          <span />
          <span />
          <span />
          <span />
          <span />
          <span />
          <span />
          <span />
          <span />
        </div>
        <div class="container-layout" style="padding-top: 20vh; padding-right: 5vh; padding-left: 5vh; padding-bottom: 0;">
          <el-row :gutter="20" justify="center">
            <el-col :xs="24" :sm="24" :md="15" :lg="15" :xl="15" class="my-3">
              <el-container>
                <el-main style="padding: 0;">
                  <video-player :key="componentKey" :options="videoOptions" class="vjs-16-9" />
                </el-main>
              </el-container>
            </el-col>
            <el-col :xs="24" :sm="24" :md="9" :lg="9" :xl="9" class="my-3">
              <el-container>
                <el-main style="background-color: rgb(238, 241, 246); height: 72vh; overflow: auto">
                  <el-menu>
                    <el-menu-item v-for="(subtitulo, i) in lista" :key="i">
                      <div @click="changeSubtitulo(i)">
                        {{ subtitulo }}
                      </div>
                    </el-menu-item>
                  </el-menu>
                </el-main>
              </el-container>
            </el-col>
            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" class="my-3">
              <el-card class="box-card">
                <el-container>
                  <el-header class="text-center card-title titulo">
                    {{ titulo }}
                  </el-header>
                  <el-main class="text-center">
                    {{ descripcion }}
                  </el-main>
                </el-container>
              </el-card>
            </el-col>
          </el-row>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import VideoPlayer from '~/components/VideoPlayer.vue'

export default {
  layout: 'AppHeader',
  name: 'Uuid',
  middleware: ['auth'],
  components: {
    VideoPlayer
  },
  data () {
    return {
      videoOptions: {
        controls: true,
        fluid: true,
        type: 'video/mp4',
        sources: null
      },
      titulo: '',
      descripcion: '',
      lista: null,
      componentKey: 0,
      video: 0
    }
  },
  beforeMount () {
    this.checkEstado()
    this.fetchSomething()
  },
  methods: {
    fetchSomething (video = this.video) {
      const user = this.$store.getters['auth/user']

      const id = user.id
      const uuid = this.$route.params.uuid

      this.$axios.post('https://emprendedoresconproposito.online/api/fetchCurso', {
        Id: id,
        Uuid: uuid,
        Select: video
      }).then((response) => {
        if (response.data.success) {
          this.titulo = response.data.titulo
          this.descripcion = response.data.descripcion
          this.lista = response.data.lista

          this.videoOptions.sources = [{
            src: response.data.url,
            type: 'video/mp4'
          }]

          this.forceRerenderVideo()
        } else {
          const curso = this.$route.params.uuid
          this.$toastr.e(response.data.message)
          this.$router.push('/curso/' + curso)
        }
      })
    },
    checkEstado () {
      const curso = this.$route.params.uuid
      const user = this.$store.getters['auth/user'].uuid

      this.$axios.post('https://emprendedoresconproposito.online/api/Checkout/fetch/both', {
        UuidUsuario: user,
        UuidCurso: curso
      }).then((response) => {
        if (!response.data.success) {
          this.$toastr.e('Parece que aun no has adquirido el curso, por favor, pienselo e ¡Inscribase!')
          this.$router.push('/curso/' + curso)
        }
      })
    },
    forceRerenderVideo () {
      this.componentKey += 1
    },
    changeSubtitulo (video) {
      this.fetchSomething(video)
    }
  }
}
</script>
<style>
  .no-padding {
    padding: 0 !important;
  }
</style>
