<template>
  <section class="section section-shaped section-lg my-0">
    <div class="shape shape-style-1 bg-gradient-default">
      <span />
      <span />
      <span />
      <span />
      <span />
      <span />
      <span />
      <span />
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <card type="secondary" shadow
                header-classes="bg-white pb-5"
                body-classes="px-lg-5 py-lg-5"
                class="border-0"
          >
            <template>
              <div class="text-center mb-4">
                <h3>Iniciar Sesión</h3>
              </div>
              <form @submit.prevent="login" @keydown="form.onKeydown($event)">
                <base-input v-model="form.email"
                            alternative
                            :class="{ 'is-invalid': form.errors.has('email') }"
                            placeholder="Correo Electronico"
                            type="email"
                            name="email"
                            addon-left-icon="ni ni-email-83"
                />
                <has-error :form="form" field="email" />
                <base-input v-model="form.password"
                            alternative
                            :class="{ 'is-invalid': form.errors.has('password') }"
                            type="password"
                            name="password"
                            placeholder="Contraseña"
                            addon-left-icon="ni ni-lock-circle-open"
                />
                <has-error :form="form" field="password" />

                <base-checkbox v-model="remember" class="my-3">
                  Recordarme
                </base-checkbox>
                <div class="text-center">
                  <v-button :loading="form.busy">
                    Iniciar Sesión
                  </v-button>
                </div>
              </form>
            </template>
          </card>
          <div class="row mt-3">
            <div class="col-6">
              <router-link :to="{ name: 'password.request' }" class="small ml-auto my-auto">
                ¿Olvidaste tu contraseña?
              </router-link>
            </div>
            <div class="col-6 text-right">
              <router-link to="/register">
                <small class="text-light">Crear nueva cuenta</small>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Form from 'vform'

export default {
  layout: 'AppHeader',
  middleware: ['guest'],
  head () {
    return { title: 'Inicio de Sesión' }
  },

  data: () => ({
    form: new Form({
      email: '',
      password: ''
    }),
    remember: false,
    withCourse: false,
    withVivo: false
  }),

  beforeMount() {
    this.withCourse = this.$route.params.uuid !== undefined
    this.withVivo = this.$route.params.vivo !== undefined
  },
  methods: {
    async login () {
      let data

      // Submit the form.
      try {
        const response = await this.form.post('/login')
        data = response.data
      } catch (e) {
        const data = Object.values(e.response.data.errors)
        data.forEach((element) => {
          this.$toastr.e(element)
        })
        return
      }
      // Save the token.
      this.$store.dispatch('auth/saveToken', {
        token: data.token,
        remember: this.remember
      })

      // Fetch the cursos.
      await this.$store.dispatch('auth/fetchUser')

      // Redirect home.
      if (this.withCourse && this.withVivo) {
        this.$router.push('/curso/pregunta/1/' + this.$route.params.uuid)
      } else {
        this.$router.push({ name: 'welcome' })
      }
    }
  }
}
</script>
