<template>
  <section class="section section-shaped section-lg my-0">
    <div class="shape shape-style-1 bg-gradient-default">
      <span />
      <span />
      <span />
      <span />
      <span />
      <span />
      <span />
      <span />
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <card type="secondary" shadow
                header-classes="bg-white pb-5"
                body-classes="px-lg-5 py-lg-5"
                class="border-0"
          >
            <template>
              <div class="text-center mb-4">
                <h3 v-if="withCourse">
                  Registro al webinar
                </h3>
                <h3 v-else>
                  Registro
                </h3>
              </div>
              <form @submit.prevent="register" @keydown="form.onKeydown($event)">
                <has-error :form="form" field="name" />
                <base-input v-model="form.name"
                            :class="{ 'is-invalid': form.errors.has('name') }"
                            type="text"
                            name="name"
                            alternative
                            class="mb-3"
                            placeholder="Nombre"
                            addon-left-icon="ni ni-hat-3"
                />
                <has-error :form="form" field="email" />
                <base-input v-model="form.email"
                            :class="{ 'is-invalid': form.errors.has('email') }"
                            type="email"
                            name="email"
                            alternative
                            class="mb-3"
                            placeholder="Correo Electronico"
                            addon-left-icon="ni ni-email-83"
                />
                <has-error :form="form" field="password" />
                <base-input v-model="form.password"
                            :class="{ 'is-invalid': form.errors.has('password') }"
                            name="password"
                            alternative
                            type="password"
                            placeholder="Contraseña"
                            addon-left-icon="ni ni-lock-circle-open"
                />
                <has-error :form="form" field="password_confirmation" />
                <base-input v-model="form.password_confirmation"
                            :class="{ 'is-invalid': form.errors.has('password_confirmation') }"
                            name="password_confirmation"
                            alternative
                            type="password"
                            placeholder="Confirmar Contraseña"
                            addon-left-icon="ni ni-lock-circle-open"
                />
                <base-checkbox v-model="terms" class="my-3">
                  <span>Al registrarme acepto los
                    <a href="#">Terminos y condiciones</a>
                  </span>
                </base-checkbox>
                <div class="text-center">
                  <v-button :loading="form.busy">
                    <span v-if="withCourse">Registrarse</span>
                    <span v-else>Registrarse</span>
                  </v-button>
                </div>
              </form>
            </template>
          </card>
          <div class="row mt-3">
            <div class="col-6 text-right">
            </div>
            <div class="col-6 text-right">
              <router-link :to="{ name: 'login' }">
                <small class="text-light">Iniciar Sesion</small>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Form from 'vform'

export default {
  layout: 'AppHeader',
  middleware: ['guest'],
  head () {
    return { title: 'Registro' }
  },

  data: () => ({
    form: new Form({
      name: '',
      email: '',
      password: '',
      password_confirmation: ''
    }),
    mustVerifyEmail: false,
    terms: false,
    withCourse: false,
    withVivo: false
  }),
  created () {
    this.withCourse = this.$route.params.uuid !== undefined
    this.withVivo = this.$route.params.vivo !== undefined

    if (this.withCourse) {
      const uuid = this.$route.params.uuid

      this.$axios.post('https://emprendedoresconproposito.online/api/Cursos/find/one', {
        'Uuid': uuid
      }).then((response) => {
        if (!response.data.success) {
          window.location.href = 'https://emprendedoresconproposito.online/mensaje/error/El curso aun no esta listo para registrarse, hable con el administrador para cualquier duda'
        } else {
          this.$fb.track('ViewContent')
        }
      })
    }
  },
  methods: {
    async register () {
      if (this.terms === false) {
        this.$toastr.e('Porfavor, lea y acepte los terminos y condiciones de la pagina')
        return
      }

      try {
        // Register the cursos.
        const { data } = await this.form.post('/register')

        // Must verify email fist.
        if (data.status) {
          this.mustVerifyEmail = true
        } else {
          // Log in the cursos.
          const { data: { token } } = await this.form.post('/login')

          // Save the token.
          this.$store.dispatch('auth/saveToken', { token })

          // Update the cursos.
          await this.$store.dispatch('auth/updateUser', { user: data })

          // Redirect home.
          if (this.withCourse && !this.withVivo) {
            this.$fb.track('InitiateCheckout')
            window.location.href = 'https://emprendedoresconproposito.online/pago/' + this.$route.params.uuid + '/' + this.$store.getters['auth/user'].uuid
          } else if (this.withCourse && this.withVivo) {
            this.$router.push('/curso/pregunta/1/' + this.$route.params.uuid)
          } else {
            this.$router.push({ name: 'welcome' })
          }
        }
      } catch (e) {
        const data = Object.values(e.response.data.errors)
        data.forEach((element) => {
          this.$toastr.e(element)
        })
      }
    }
  }
}
</script>
