<template>
  <div>
    <header class="header-global">
      <base-nav id="nav" class="navbar-main" transparent :class="{sticky:active}" type="" effect="light" expand>
        <router-link slot="brand" class="navbar-brand p-0" to="/">
          <img src="/logo.png" alt="logo">
        </router-link>

        <div slot="content-header" slot-scope="{closeMenu}" class="row">
          <div class="col-6 collapse-brand ">
            <router-link to="/">
              <img src="/logo.png" alt="logo">
            </router-link>
          </div>
          <div class="col-6 collapse-close">
            <close-button @click="closeMenu" />
          </div>
        </div>

        <ul v-if="authenticated" class="navbar-nav align-items-lg-center ml-lg-auto">
          <li class="nav-item">
            <nuxt-link class="nav-link" :to="{ name: 'lista' }">
              <i class="el-icon-video-play" />
              <span class="nav-link-inner--text">Cursos</span>
            </nuxt-link>
          </li>

          <li class="nav-item">
            <nuxt-link class="nav-link" :to="{ name: 'pagados' }">
              <i class="el-icon-s-order" />
              <span class="nav-link-inner--text">Mis cursos</span>
            </nuxt-link>
          </li>

          <base-dropdown tag="li" class="nav-item">
            <a slot="title" class="nav-link" data-toggle="dropdown" role="button" style="cursor: pointer">
              <i class="el-icon-user-solid" />
              <span class="">{{ user.name }}</span>
            </a>
            <nuxt-link v-if="admin" class="dropdown-item" :to="{ name: 'curso.crear' }">
              <span class="nav-link-inner--text">Administración</span>
            </nuxt-link>
            <nuxt-link class="dropdown-item" :to="{ name: 'settings.profile' }">
              <span class="nav-link-inner--text">Perfil</span>
            </nuxt-link>
            <nuxt-link class="dropdown-item" :to="{ name: 'settings.password' }">
              <span class="nav-link-inner--text">Cambiar Contraseña</span>
            </nuxt-link>
            <a class="dropdown-item" style="cursor: pointer" @click.prevent="logout">
              <span class="nav-link-inner--text">Salir</span>
            </a>
          </base-dropdown>

          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="http://web.facebook.com/Coachadilene.ramos/" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
              <i class="fa fa-facebook-square" />
              <span class="nav-link-inner--text d-lg-none">Facebook</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="http://www.instagram.com/coach_adilene_ramos/?hl=es-la" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
              <i class="fa fa-instagram" />
              <span class="nav-link-inner--text d-lg-none">Instagram</span>
            </a>
          </li>
        </ul>
        <ul v-else class="navbar-nav align-items-lg-center ml-lg-auto">
          <li class="nav-item">
            <nuxt-link class="nav-link" :to="{ name: 'lista' }">
              <i class="el-icon-video-play" />
              <span class="nav-link-inner--text">Cursos</span>
            </nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link class="nav-link" :to="{ name: 'login' }">
              <i class="el-icon-user-solid" />
              <span class="nav-link-inner--text">Iniciar Sesión</span>
            </nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link class="nav-link" :to="{ name: 'register' }">
              <i class="el-icon-plus" />
              <span class="nav-link-inner--text">Empieza Ahora</span>
            </nuxt-link>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="http://web.facebook.com/Coachadilene.ramos/" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
              <i class="fa fa-facebook-square" />
              <span class="nav-link-inner--text d-lg-none">Facebook</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="http://www.instagram.com/coach_adilene_ramos/?hl=es-la" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
              <i class="fa fa-instagram" />
              <span class="nav-link-inner--text d-lg-none">Instagram</span>
            </a>
          </li>
        </ul>
      </base-nav>
    </header>
    <div v-cloak>
      <nuxt />
    </div>
    <footer class="footer">
      <div class="container">
        <hr>
        <div class="row align-items-center justify-content-md-between">
          <div class="col">
            <div class="copyright">
              &copy; {{ year }}
              Magnimus Software
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import BaseNav from '../components/BaseNav'
import CloseButton from '../components/CloseButton'
import BaseDropdown from '../components/BaseDropdown'

export default {
  components: {
    BaseNav,
    CloseButton,
    BaseDropdown
  },

  layout: 'simple',

  head () {
    return {
      title: 'Inicio'
    }
  },

  data: () => ({
    title: process.env.appName,
    year: new Date().getFullYear(),
    active: false
  }),
  computed: mapGetters({
    user: 'auth/user',
    authenticated: 'auth/check',
    admin: 'auth/admin'
  }),
  beforeMount () {
    window.document.onscroll = () => {
      const navBar = document.getElementById('nav')
      if (window.scrollY > navBar.offsetTop) {
        this.active = true
      } else {
        this.active = false
      }
    }
  },
  beforeDestroy () {
    window.document.onscroll = null
  },
  methods: {
    async logout () {
      // Log out the cursos.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: 'login' })
    },
    toggleNavClass () {
      if (this.active === false) {
        return 'nav'
      } else {
        return 'sticky-nav'
      }
    }
  }
}
</script>
<style>
body {
  margin: 0;
  box-sizing: border-box;
}
#app {
  color: #2c3e50;
  background-color: #ccd6dd;
  height: 120vh;
}
.nav {
  transition: 100ms;
  padding: 25px;
}
.sticky-nav{
  transition: 100ms;
  padding: 20px;
}
#nav {
  transition: 150ms;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
}
#nav.sticky{
  transition: 150ms;
  background-color:  #1a174dce;
  }

[v-cloak] > * { display:none; }

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2, [v-cloak]::before{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}
</style>
