<template>
  <div>
    <video ref="videoPlayer" class="video-js vjs-theme-forest" />
  </div>
</template>

<script>
import videojs from 'video.js'
import 'video.js/dist/video-js.css'
import '@videojs/themes/dist/forest/index.css'

export default {
  name: 'VideoPlayer',
  props: {
    options: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    return {
      player: null
    }
  },
  mounted () {
    if (this.options.sources != null) {
      this.player = videojs(this.$refs.videoPlayer, this.options)
      if (this.options.currenttime != null) {
        this.player.currentTime(this.options.currenttime)
      }
      if (this.options.muted === true) {
        this.player.player_.handleTechClick_ = () => {
          if (this.player.muted()) {
            this.player.muted(false)
          } else {
            this.player.muted(true)
          }
        }
      }
    }
  },
  beforeDestroy () {
    if (this.player) {
      this.player.dispose()
    }
  }
}
</script>
