<template>
  <div class="section">
    <el-row justify="center">
      <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
        <el-container>
          <el-main>
            <el-menu :default-openeds="['3']">
              <el-submenu index="1">
                <template slot="title">
                  <i class="el-icon-picture" />
                  <span slot="title">Cursos</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.users' }">
                    Ver usuarios
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
              <el-submenu index="2">
                <template slot="title">
                  <i class="el-icon-sold-out" />
                  <span slot="title">Checkout</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
              <el-submenu index="3">
                <template slot="title">
                  <i class="el-icon-phone" />
                  <span slot="title">Usuarios</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
            </el-menu>
          </el-main>
        </el-container>
      </el-col>
      <el-col :xs="24" :sm="24" :md="18" :lg="18" :xl="18">
        <el-container>
          <el-main>
            <el-form :model="user" label-width="120px">
              <el-form-item label="Crear Usuario" />
              <el-form-item label="Nombre">
                <el-input v-model="user.nombre" type="text" />
              </el-form-item>
              <el-form-item label="Email">
                <el-input v-model="user.email" type="email" />
              </el-form-item>
              <el-form-item label="Contraseña">
                <el-input v-model="user.contrasena" type="text" />
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="submitForm()">
                  Crear
                </el-button>
              </el-form-item>
            </el-form>
          </el-main>
        </el-container>
      </el-col>
    </el-row>
  </div>
</template>
<script>
export default {
  middleware: ['admin'],

  data () {
    return {
      user: {
        nombre: '',
        email: '',
        contrasena: ''
      }
    }
  },
  methods: {
    submitForm () {
      this.$axios.post('https://emprendedoresconproposito.online/api/Usuarios/submit', {
        Nombre: this.user.nombre,
        Correo: this.user.email,
        Contrasena: this.user.contrasena
      }).then((response) => {
        if (response.data.success) {
          this.$toastr.s(response.data.message)
          this.user.nombre = ''
          this.user.email = ''
          this.user.contrasena = ''
        } else {
          this.$toastr.e(response.data.message)
        }
      })
    }
  }
}
</script>
