<template>
  <div class="section">
    <el-row justify="center">
      <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
        <el-container>
          <el-main>
            <el-menu :default-openeds="['3']">
              <el-submenu index="1">
                <template slot="title">
                  <i class="el-icon-picture" />
                  <span slot="title">Cursos</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.users' }">
                    Ver usuarios
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
              <el-submenu index="2">
                <template slot="title">
                  <i class="el-icon-sold-out" />
                  <span slot="title">Checkout</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
              <el-submenu index="3">
                <template slot="title">
                  <i class="el-icon-phone" />
                  <span slot="title">Usuarios</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
            </el-menu>
          </el-main>
        </el-container>
      </el-col>
      <el-col :xs="24" :sm="24" :md="18" :lg="18" :xl="18">
        <el-container>
          <el-main>
            <el-form :model="user" label-width="120px">
              <el-form-item label="Borrar Usuario" />
              <el-form-item label="Usuario:">
                <el-select v-model="value" placeholder="Usuario por email" @change="fillParameters">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  />
                </el-select>
              </el-form-item>
              <el-form-item label="Uuid">
                <el-input v-model="user.uuid" type="text" disabled />
              </el-form-item>
              <el-form-item label="Nombre">
                <el-input v-model="user.nombre" type="text" disabled />
              </el-form-item>
              <el-form-item label="Email">
                <el-input v-model="user.email" type="email" disabled />
              </el-form-item>
              <el-form-item>
                <el-button type="danger" @click="submitForm()">
                  Borrar
                </el-button>
              </el-form-item>
            </el-form>
          </el-main>
        </el-container>
      </el-col>
    </el-row>
  </div>
</template>
<script>
export default {
  middleware: ['admin'],
  data () {
    return {
      user: {
        nombre: '',
        email: ''
      },
      options: [],
      value: ''
    }
  },
  mounted () {
    this.getUsuarios()
  },
  methods: {
    getUsuarios () {
      this.$axios.get('https://emprendedoresconproposito.online/api/Usuarios/fetch/list').then((response) => {
        if (response.data.success) {
          const data = response.data.data
          if (data != null) {
            this.options = data
          }
        } else {
          this.$toastr.e(response.data.message)
        }
      })
    },
    fillParameters () {
      this.$axios.post('https://emprendedoresconproposito.online/api/Usuarios/find/one', {
        'Id': this.value
      }).then((response) => {
        if (response.data.success) {
          const data = response.data.data
          this.user.uuid = data.Uuid
          this.user.nombre = data.Name
          this.user.email = data.Email
        } else {
          this.$toastr.e(response.data.message)
        }
      })
    },
    submitForm () {
      this.$axios.post('https://emprendedoresconproposito.online/api/Usuarios/remove', {
        Uuid: this.user.uuid
      }).then((response) => {
        if (response.data.success) {
          this.getUsuarios()
          this.$toastr.s(response.data.message)
          this.value = ''
          this.user.uuid = ''
          this.user.nombre = ''
          this.user.email = ''
        } else {
          this.$toastr.e(response.data.message)
        }
      })
    }
  }
}
</script>
