<template>
  <div class="section">
    <el-row justify="center">
      <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
        <el-container>
          <el-main>
            <el-menu :default-openeds="['2']">
              <el-submenu index="1">
                <template slot="title">
                  <i class="el-icon-picture" />
                  <span slot="title">Cursos</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'curso.users' }">
                    Ver usuarios
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
              <el-submenu index="2">
                <template slot="title">
                  <i class="el-icon-sold-out" />
                  <span slot="title">Checkout</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'checkout.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
              <el-submenu index="3">
                <template slot="title">
                  <i class="el-icon-phone" />
                  <span slot="title">Usuarios</span>
                </template>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.crear' }">
                    Crear
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.leer' }">
                    Leer
                  </nuxt-link>
                </el-menu-item>
                <el-menu-item>
                  <nuxt-link class="nav-link" :to="{ name: 'user.modificar' }">
                    Modificar
                  </nuxt-link>
                </el-menu-item>
              </el-submenu>
            </el-menu>
          </el-main>
        </el-container>
      </el-col>
      <el-col :xs="24" :sm="24" :md="18" :lg="18" :xl="18">
        <el-container>
          <el-main>
            <el-form :model="checkout" label-width="120px">
              <el-form-item label="Crear Recibo" />
              <el-form-item label="Usuarios:">
                <el-select v-model="checkout.uuidusuario" placeholder="Usuario por email">
                  <el-option
                    v-for="item in usuarios"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  />
                </el-select>
              </el-form-item>
              <el-form-item label="Curso:">
                <el-select v-model="checkout.uuidcurso" placeholder="Curso por nombre">
                  <el-option
                    v-for="item in cursos"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  />
                </el-select>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="submitForm()">
                  Crear
                </el-button>
              </el-form-item>
            </el-form>
          </el-main>
        </el-container>
      </el-col>
    </el-row>
  </div>
</template>
<script>
export default {
  middleware: ['admin'],
  data () {
    return {
      checkout: {
        uuidusuario: '',
        uuidcurso: ''
      },
      usuarios: [],
      usuario: '',
      cursos: [],
      curso: ''
    }
  },
  mounted () {
    this.getUsuarios()
    this.getCursos()
  },
  methods: {
    getCursos () {
      this.$axios.get('https://emprendedoresconproposito.online/api/Cursos/fetch/list').then((response) => {
        if (response.data.success) {
          const data = response.data.data
          if (data != null) {
            this.cursos = data
          }
        } else {
          this.$toastr.e(response.data.message)
        }
      })
    },
    getUsuarios () {
      this.$axios.get('https://emprendedoresconproposito.online/api/Usuarios/fetch/list').then((response) => {
        if (response.data.success) {
          const data = response.data.data
          if (data != null) {
            this.usuarios = data
          }
        } else {
          this.$toastr.e(response.data.message)
        }
      })
    },
    submitForm () {
      this.$axios.post('https://emprendedoresconproposito.online/api/Checkout/submit', {
        UuidUsuario: this.checkout.uuidusuario,
        UuidCurso: this.checkout.uuidcurso
      }).then((response) => {
        if (response.data.success) {
          this.getUsuarios()
          this.getCursos()
          this.$toastr.s(response.data.message)
          this.checkout.uuidusuario = ''
          this.checkout.uuidcurso = ''
        } else {
          this.$toastr.e(response.data.message)
        }
      })
    }
  }
}
</script>
